<template>
	<view>
		<view class="inputBox">
			<input type="text" placeholder="大家都在听 张小师" />
		</view>
		<view class="fenlei">

			<view class="img">
				<image src="../../../webpeng/img/iconfontwifi2.png" mode=""></image>
				<text>我的博客</text>
			</view>
			<view class="img">
				<image src="../../../webpeng/img/iconfonticon-shebei.png" mode=""></image>
				<text>全部分类</text>
			</view>
			<view class="img">
				<image src="../../../webpeng/img/paihangbang.png" mode=""></image>
				<text>排行榜</text>
			</view>
			<view class="img">
				<image src="../../../webpeng/img/shuijuemoshi.png" mode=""></image>
				<text>助眠解压</text>
			</view>
			<view class="img">
				<image src="../../../webpeng/img/tushu.png" mode=""></image>
				<text>有声书</text>
			</view>
		</view>

		<!-- 推荐歌单 -->
		<view class="Persona">
			<view class="titleBox">
				<text class="title">随声听</text>
				<view class="PersonaList">
					<view class="left" v-for="(item,index) in Persona" :key='index'>
						<image :src="item.picUrl" mode=""></image>
						{{item.name}}
					</view>
				</view>
			</view>

		</view>
	</view>
</template>

<script>
	// import {
	// 	getPersonalized
	// } from '../../../utils/webpeng/webpeng.js'
	export default {
		data() {
			return {
				Persona: []
			};
		},
		created() {
			
		},
		mounted() {
			uni.request({
				url:"https://netease-cloud-music-api-amber-sigma.vercel.app/personalized?limit=1",
				method: 'get',
				success:(res)=>{
					console.log(res)
					this.Persona =res.data.result
				}
			})
		}
	}
</script>

<style lang="scss">
	.inputBox {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 95%;

		input {
			width: 95%;
			height: 70rpx;
			border-radius: 30rpx;
			background-color: #ccc;
			text-align: center;
		}
	}



	.fenlei {
		width: 95%;
		height: 50px;
		display: flex;
		justify-content: space-between;
		padding: 10px 10px;

		.img {
			width: 20%;
			height: 100%;

			image {
				width: 50%;
				height: 50%;
				padding: 8px 10px;
				background: #ffff;
				border-radius: 50%;
				border: 2rpx solid red;
				text-align: center;

			}

			text {
				width: 20%;
				text-align: center;
			}

		}
	}

	.Persona {
		width: 100%;
		height: 200px;
		background: #ccc;
		margin-top: 20px;

		.title {
			display: block;
			width: 100%;
			text-align: center;
			padding: 20rpx 0;
		}

		.PersonaList {
			width: 100%;
			height: 200rpx;
			background-color: #fff;

		}
	}
</style>
